<div class="ca-topnav" id="myTopnav">
  <label class="gothic">CARLA Y ÁLVARO</label>
</div>
<div class="container-fluid">
  <br />
  <router-outlet></router-outlet>
  <div class="container" *ngIf="congratulations">
    <h3 class="an-1">¡FELICIDADES!</h3>
  </div>
  <div class="countdown-container">
    <p class="gothic">Tiempo restante:</p>
    <p class="gothic">{{ countDownLabel }}</p>
  </div>
  <section id="picture">
    <img
      class="gameimg"
      *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8]"
      src="{{ getImageSourceForCurrentElement(index) }}"
    />
  </section>
</div>
